#spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.993); /* Fondo negro con opacidad */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}
.spinner {
    position: fixed;
    top: 50%; /* Posiciona el spinner en el centro vertical */
    left: 50%; /* Posiciona el spinner en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el spinner exactamente */
    width: 100px; /* Ancho del spinner */
    height: 100px; /* Altura del spinner */
    text-align: center;
    font-size: 16px; /* Tamaño de la fuente */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.spinner > div {
    background-color: #ffffff;
    height: 100%;
    width: 10px; /* Ancho de las barras del spinner */
    display: inline-block;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    animation-delay: -1.1s;
}

.spinner .rect3 {
    animation-delay: -1.0s;
}

.spinner .rect4 {
    animation-delay: -0.9s;
}

.spinner .rect5 {
    animation-delay: -0.8s;
}

@keyframes stretchdelay {
    0%, 40%, 100% { transform: scaleY(0.4); }  
    20% { transform: scaleY(1.0); }
}
.container {
    padding-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

#guardarVenta {
    width: 100%;
}
#totalContainer {
    text-align: center;
    margin-bottom: 20px;
}

#Total {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.table-container {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    margin-top: 10px;
}
.total-display {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
}
.table-container {
    margin-top: 20px;
}