{% extends "./base.html" %}
{%block body%}
{% load django_tables2 %}
{% load static %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/ventas/ventas.js'%}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/ventas/ventas.css' %}">
{%endblock%}
<div id="spinner-overlay" >
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
</div>
<div class="container justify-content-center align-items-center">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-xl-8  ">
            <div class="card">
                <div class="card-body">
                    {% render_table table %}
    
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-xl-8">
            <div id="Total" class="total-display">Total: $0</div>
            <div id="TableVentas"></div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 mt-md-0 mt-4">
            <form  method="post"  >{% csrf_token %}
                <div class="form-group">
                    <select type="text" id="metodoPago" name="metodoPago" class="form-control" placeholder="Codigo" value="" onchange="eleccionVenta(value)" required>
                        <option value=""></option>
                        <option value="Efectivo">Efectivo</option>
                        <option value="Tarjeta">Tarjeta</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="subtotal" name="subtotal" class="form-control" placeholder="Monto "   hidden="true" required>
                </div>          
                <div class="form-group">
                    <input type="text" id="devolucion" name="devolucion" class="form-control" placeholder="Devolucion" required hidden="true" readonly hidden ="true" >
                </div>
                <button type="button" id="guardarVenta" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>




{%endblock%}