#spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.993); /* Fondo negro con opacidad */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}
.spinner {
    position: fixed;
    top: 50%; /* Posiciona el spinner en el centro vertical */
    left: 50%; /* Posiciona el spinner en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el spinner exactamente */
    width: 100px; /* Ancho del spinner */
    height: 100px; /* Altura del spinner */
    text-align: center;
    font-size: 16px; /* Tamaño de la fuente */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.spinner > div {
    background-color: #3498db;
    height: 50px;
    width: 10px; /* Ancho de las barras del spinner */
    display: inline-block;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    animation-delay: -1.1s;
}

.spinner .rect3 {
    animation-delay: -1.0s;
}

.spinner .rect4 {
    animation-delay: -0.9s;
}

.spinner .rect5 {
    animation-delay: -0.8s;
}

@keyframes stretchdelay {
    0%, 40%, 100% { transform: scaleY(0.4); }  
    20% { transform: scaleY(1.0); }
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control, .form-select {
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}